<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Nhập-thư-viện-và-định-nghĩa-hàm-hữu-dụng" data-toc-modified-id="Nhập-thư-viện-và-định-nghĩa-hàm-hữu-dụng-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Nhập thư viện và định nghĩa hàm hữu dụng</a></span></li><li><span><a href="#Tải-dữ-liệu" data-toc-modified-id="Tải-dữ-liệu-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Tải dữ liệu</a></span></li><li><span><a href="#Tiền-xử-lý" data-toc-modified-id="Tiền-xử-lý-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tiền xử lý</a></span></li><li><span><a href="#Bước-1:-Tạo-các-mô-hình-univariate" data-toc-modified-id="Bước-1:-Tạo-các-mô-hình-univariate-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Bước 1: Tạo các mô hình univariate</a></span></li><li><span><a href="#Bước-2:-Chọn-feature-tốt-nhất" data-toc-modified-id="Bước-2:-Chọn-feature-tốt-nhất-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Bước 2: Chọn feature tốt nhất</a></span></li><li><span><a href="#Bước-3:-Thêm-lần-lượt-các-feature" data-toc-modified-id="Bước-3:-Thêm-lần-lượt-các-feature-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Bước 3: Thêm lần lượt các feature</a></span></li><li><span><a href="#Bước-4:-Xóa-các-feature-có-p-value->-0.1-(từ-model)" data-toc-modified-id="Bước-4:-Xóa-các-feature-có-p-value->-0.1-(từ-model)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Bước 4: Xóa các feature có p-value &gt; 0.1 (từ model)</a></span></li><li><span><a href="#Bước-5:-Xóa-một-feature-có-VIF->-3-(từ-model)" data-toc-modified-id="Bước-5:-Xóa-một-feature-có-VIF->-3-(từ-model)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Bước 5: Xóa một feature có VIF &gt; 3 (từ model)</a></span></li><li><span><a href="#Bước-6:-Xóa-các-dữ-liệu-(hàng)-có-Cook’s-D-value->-1-(từ-tập-train)" data-toc-modified-id="Bước-6:-Xóa-các-dữ-liệu-(hàng)-có-Cook’s-D-value->-1-(từ-tập-train)-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Bước 6: Xóa các dữ liệu (hàng) có Cook’s D value &gt; 1 (từ tập train)</a></span></li><li><span><a href="#Bước-7:-Test" data-toc-modified-id="Bước-7:-Test-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Bước 7: Test</a></span></li></ul></div>

# Nhập thư viện và định nghĩa hàm hữu dụng

In [1]:
import datetime
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [2]:
def lat_to_x(lat):
    return (25.6 - lat) / 0.025

In [3]:
def lon_to_y(lon):
    return (lon - 100.1) / 0.025

In [4]:
def adjusted_r2_score(y_true, y_pred, n_features):
    r2 = r2_score(y_true, y_pred)
    rbar2 = 1 - (1 - r2) * (len(y_true) - 1) / (len(y_true) - n_features - 1)
    return rbar2

# Tải dữ liệu

In [5]:
train_data = pd.read_csv('data/train.csv')
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Herbaceous_vegetation_3000,Herbaceous_vegetation_6000,...,planetary_boundary_layer_height[pblh]_9000,dewpoint_temperature_(dpt)_3000,dewpoint_temperature_(dpt)_6000,dewpoint_temperature_(dpt)_9000,road_density_3000,road_density_6000,road_density_9000,population_density_3000,population_density_6000,population_density_9000
0,1/1/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,557.835051,4.722948,4.761801,4.804577,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
1,1/2/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,557.835051,7.789521,7.800428,7.796861,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,334.620723,9.141778,8.949080,8.838265,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,232.602795,11.897894,11.879602,11.857450,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,296.998407,11.874306,11.914230,11.922872,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,606.885986,2.117986,2.249595,2.854099,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,346.317471,6.983771,7.294758,8.144295,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,346.317471,14.466601,14.526416,15.006064,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,534.333673,14.466601,14.526416,15.006064,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,488.169917,10.787951,10.836703,11.048307,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716

In [6]:
direction_data = pd.read_csv('data/direction.csv')
direction_data

                       feature  direction
0                  Shrubs_3000          0
1                  Shrubs_6000          0
2                  Shrubs_9000          0
3   Herbaceous_vegetation_3000          0
4   Herbaceous_vegetation_6000          0
..                         ...        ...
61           road_density_6000          1
62           road_density_9000          1
63     population_density_3000          1
64     population_density_6000          1
65     population_density_9000          1

[66 rows x 2 columns]

# Tiền xử lý

In [7]:
# Các hàng bị mất dữ liệu NO2
train_data[train_data['NO2'].isna()]

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Herbaceous_vegetation_3000,Herbaceous_vegetation_6000,...,planetary_boundary_layer_height[pblh]_9000,dewpoint_temperature_(dpt)_3000,dewpoint_temperature_(dpt)_6000,dewpoint_temperature_(dpt)_9000,road_density_3000,road_density_6000,road_density_9000,population_density_3000,population_density_6000,population_density_9000
0,1/1/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,557.835051,4.722948,4.761801,4.804577,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
1,1/2/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,557.835051,7.789521,7.800428,7.796861,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
128,5/23/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,511.418274,22.813865,22.820251,22.827409,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
129,5/24/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,480.566523,22.941944,22.942820,22.937745,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
130,5/25/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,476.939412,22.941944,22.942820,22.937745,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
131,5/26/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,647.397194,23.971521,23.974848,23.971626,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
132,5/27/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,478.186033,23.971521,23.974848,23.971626,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
133,5/28/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,235.336796,23.616576,23.607008,23.598239,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
135,5/30/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,448.317588,23.368021,23.434127,23.466177,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
136,5/31/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,309.345441,23.368021,23.434127,23.466177,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
137,6/1/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,477.031376,23.894927,23.942174,23.930206,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
138,6/2/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,578.614115,23.894927,23.942174,23.930206,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
139,6/3/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,578.614115,23.894927,23.942174,23.930206,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
140,6/4/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,578.614115,23.894927,23.942174,23.930206,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
141,6/5/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,664.370975,24.369125,24.478365,24.552860,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
142,6/6/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,664.370975,26.943000,26.937880,26.943490,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
143,6/7/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,741.070106,26.943000,26.937880,26.943490,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
144,6/8/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,681.669855,27.033389,27.036940,27.039888,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
145,6/9/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,613.036026,27.033389,27.036940,27.039888,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
146,6/10/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,455.888539,27.517469,27.489169,27.492275,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
147,6/11/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,470.738079,26.763903,26.749125,26.763778,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
148,6/12/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,411.232610,26.827924,26.838492,26.839649,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
149,6/13/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,418.837096,24.726333,25.016400,25.093429,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
150,6/14/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,349.419556,24.726333,25.016400,25.093429,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
151,6/15/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,322.899332,26.431538,26.417774,26.410930,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
152,6/16/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,432.779857,25.716236,25.784005,25.838880,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
153,6/17/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,550.396102,25.716236,25.784005,25.838880,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
154,6/18/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,554.291536,26.076285,26.029023,26.041103,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
155,6/19/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,554.291536,25.243444,25.268000,25.277041,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
156,6/20/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,721.035792,25.432882,25.436758,25.474621,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
157,6/21/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,721.035792,26.089437,26.086517,26.103580,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
158,6/22/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,853.940512,27.827326,27.815077,27.827274,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
159,6/23/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,853.940512,28.635194,28.373550,28.288842,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
160,6/24/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,518.383686,27.015229,27.047162,27.056767,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
161,6/25/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,589.982698,26.720438,26.719838,26.724111,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
257,10/17/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,404.983763,18.123861,18.417070,18.553301,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
259,10/19/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,462.466233,18.172208,18.472695,18.550467,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149
260,10/20/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,469.525451,22.031854,21.874427,21.816983,3058.01241,2518.368833,2177.353131,65.648988,75.064685,74.036149

In [8]:
# Xoá dữ liệu bị mất
train_data.dropna(subset=['NO2'], inplace=True)
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Herbaceous_vegetation_3000,Herbaceous_vegetation_6000,...,planetary_boundary_layer_height[pblh]_9000,dewpoint_temperature_(dpt)_3000,dewpoint_temperature_(dpt)_6000,dewpoint_temperature_(dpt)_9000,road_density_3000,road_density_6000,road_density_9000,population_density_3000,population_density_6000,population_density_9000
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,334.620723,9.141778,8.949080,8.838265,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,232.602795,11.897894,11.879602,11.857450,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,296.998407,11.874306,11.914230,11.922872,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
5,1/6/2019,21.0491,105.8831,30.008246,NVC,0,0,0,0,0,...,269.357956,9.857271,9.888818,9.873468,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
6,1/7/2019,21.0491,105.8831,38.881163,NVC,0,0,0,0,0,...,415.254027,13.722359,13.686996,13.688688,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,606.885986,2.117986,2.249595,2.854099,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,346.317471,6.983771,7.294758,8.144295,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,346.317471,14.466601,14.526416,15.006064,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,534.333673,14.466601,14.526416,15.006064,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,488.169917,10.787951,10.836703,11.048307,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716

In [9]:
train_data['NO2'].describe()

count      4849.000000
mean        167.776477
std        9371.084202
min           0.000000
25%          14.550000
50%          21.808333
75%          34.653108
max      651519.076000
Name: NO2, dtype: float64

In [10]:
train_data['NO2'].sort_values()

1975         0.000000
1876         0.000000
1875         0.000000
1874         0.000000
1873         0.000000
            ...
22          95.192095
3574        97.678375
3573       104.062462
754      37321.263950
895     651519.076000
Name: NO2, Length: 4849, dtype: float64

In [11]:
# Bỏ outlier
train_data = train_data.query("NO2 <= 200")

In [12]:
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Herbaceous_vegetation_3000,Herbaceous_vegetation_6000,...,planetary_boundary_layer_height[pblh]_9000,dewpoint_temperature_(dpt)_3000,dewpoint_temperature_(dpt)_6000,dewpoint_temperature_(dpt)_9000,road_density_3000,road_density_6000,road_density_9000,population_density_3000,population_density_6000,population_density_9000
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,334.620723,9.141778,8.949080,8.838265,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,232.602795,11.897894,11.879602,11.857450,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,296.998407,11.874306,11.914230,11.922872,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
5,1/6/2019,21.0491,105.8831,30.008246,NVC,0,0,0,0,0,...,269.357956,9.857271,9.888818,9.873468,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
6,1/7/2019,21.0491,105.8831,38.881163,NVC,0,0,0,0,0,...,415.254027,13.722359,13.686996,13.688688,3058.012410,2518.368833,2177.353131,65.648988,75.064685,74.036149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,606.885986,2.117986,2.249595,2.854099,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,346.317471,6.983771,7.294758,8.144295,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,346.317471,14.466601,14.526416,15.006064,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,534.333673,14.466601,14.526416,15.006064,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,488.169917,10.787951,10.836703,11.048307,3864.637722,2794.262842,2051.262221,246.162011,144.556331,90.604716

# Bước 1: Tạo các mô hình univariate

In [13]:
def get_model_and_r2(features, X=None, y=None):
    if X is None:
        X = train_data[features]
    if y is None:
        y = train_data['NO2']
    lr = LinearRegression().fit(X, y)
    y_pred = lr.predict(X)
    adjusted_r2 = adjusted_r2_score(y, y_pred, len(features))
    return lr, adjusted_r2

In [14]:
features = direction_data['feature']

In [15]:
univariate_models = {}
model_infos = []

for feature in features:
    direction = direction_data[direction_data['feature'] == feature]['direction'].to_numpy()[0]
    X = train_data[feature].to_numpy().reshape(-1, 1)
    y = train_data['NO2']
    lr, adjusted_r2 = get_model_and_r2([feature], X, y)
    univariate_models[feature] = lr
    model_infos.append([feature, direction, lr.coef_[0], lr.intercept_, adjusted_r2])
    
model_info_df = pd.DataFrame(model_infos, columns=['feature', 'direction', 'a', 'b', 'adjusted_r2'])
model_info_df

                       feature  direction         a          b  adjusted_r2
0                  Shrubs_3000          0  0.000000  25.728862    -0.000206
1                  Shrubs_6000          0  0.000000  25.728862    -0.000206
2                  Shrubs_9000          0  0.000000  25.728862    -0.000206
3   Herbaceous_vegetation_3000          0  0.000000  25.728862    -0.000206
4   Herbaceous_vegetation_6000          0  0.000000  25.728862    -0.000206
..                         ...        ...       ...        ...          ...
61           road_density_6000          1  0.004947  14.931652     0.042183
62           road_density_9000          1  0.005239  16.072403     0.017470
63     population_density_3000          1  0.037883  21.061746     0.037196
64     population_density_6000          1  0.040988  22.050929     0.013997
65     population_density_9000          1  0.034314  23.398259     0.003765

[66 rows x 5 columns]

# Bước 2: Chọn feature tốt nhất

In [16]:
sorted_models_df = model_info_df.sort_values('adjusted_r2', ascending=False)

In [17]:
valid_model_df = sorted_models_df[(sorted_models_df['direction'] * 2 - 1) * sorted_models_df['a'] > 0]
valid_model_df

,feature,direction,a,b,adjusted_r2
10,Urban/built_up_6000,1,1.230155,16.499017,0.098541
28,Close_forest_6000,0,-0.997248,26.691339,0.068165
27,Close_forest_3000,0,-2.458191,26.700068,0.066492
9,Urban/built_up_3000,1,2.593975,19.004436,0.064021
60,road_density_3000,1,0.003301,16.700416,0.059596
29,Close_forest_9000,0,-0.539650,26.783780,0.058639
11,Urban/built_up_9000,1,0.512574,17.215925,0.049521
61,road_density_6000,1,0.004947,14.931652,0.042183
63,population_density_3000,1,0.037883,21.061746,0.037196
19,Permanent_water_bodies_6000,1,2.806104,23.261436,0.036362
31,Open_forest_6000,0,-1.748423,27.017364,0.034124
32,Open_forest_9000,0,-0.864600,26.890463,0.027042
36,NDVI_3000,0,-18.590788,31.913521,0.019787
41,S5P_NO2_9000,1,70299.195381,23.508166,0.017658
62,road_density_9000,1,0.005239,16.072403,0.017470
40,S5P_NO2_6000,1,65203.278667,23.639007,0.017390
39,S5P_NO2_3000,1,60033.015341,23.781097,0.016646
30,Open_forest_3000,0,-3.910438,26.447699,0.016027
64,population_density_6000,1,0.040988,22.050929,0.013997
7,Cultivated_and_managed_vegetation/agriculture_...,0,-0.336798,30.337023,0.013864
20,Permanent_water_bodies_9000,1,1.134857,23.776168,0.010312
6,Cultivated_and_managed_vegetation/agriculture_...,0,-0.667517,29.140815,0.009105
37,NDVI_6000,0,-12.315867,30.119280,0.007930
18,Permanent_water_bodies_3000,1,1.999797,25.108748,0.006789
53,pressure_9000,0,-0.001511,178.085275,0.006595
51,pressure_3000,0,-0.001477,174.711620,0.006241
8,Cultivated_and_managed_vegetation/agriculture_...,0,-0.151815,29.494867,0.006124
52,pressure_6000,0,-0.001433,170.276103,0.005868
42,temperature_3000,1,0.225779,20.025313,0.004737
43,temperature_6000,1,0.219777,20.195178,0.004521
44,temperature_9000,1,0.218219,20.252641,0.004503
14,Bare/sparse_vegetation_9000,0,-2.302812,25.978765,0.004263
65,population_density_9000,1,0.034314,23.398259,0.003765
46,wind_speed_6000,1,0.521384,23.688612,0.002616
47,wind_speed_9000,1,0.521272,23.694724,0.002602
45,wind_speed_3000,1,0.491727,23.800379,0.002293
59,dewpoint_temperature_(dpt)_9000,1,0.127421,23.236505,0.002267
58,dewpoint_temperature_(dpt)_6000,1,0.123241,23.325480,0.002144
57,dewpoint_temperature_(dpt)_3000,1,0.110975,23.571717,0.001730
38,NDVI_9000,0,-5.995489,28.002692,0.001658
54,planetary_boundary_layer_height[pblh]_3000,0,-0.002232,26.837442,0.000375
55,planetary_boundary_layer_height[pblh]_6000,0,-0.001320,26.383883,-0.000015
56,planetary_boundary_layer_height[pblh]_9000,0,-0.000479,25.966070,-0.000182

In [18]:
invalid_model_df = sorted_models_df[(sorted_models_df['direction'] * 2 - 1) * sorted_models_df['a'] <= 0]
invalid_model_df

                        feature  direction          a          b  adjusted_r2
21      Herbaceous_wetland_3000          0  17.055586  23.406459     0.140279
35             Oceans,seas_9000          0   0.287726  25.160117     0.022189
34             Oceans,seas_6000          0   0.471496  25.282561     0.015511
22      Herbaceous_wetland_6000          0   3.970307  24.590276     0.013031
33             Oceans,seas_3000          0   1.370387  25.357357     0.011769
48       relative_humidity_3000          1  -0.023123  27.409839     0.000121
50       relative_humidity_9000          1  -0.012703  26.666959    -0.000124
49       relative_humidity_6000          1  -0.012035  26.610812    -0.000126
23      Herbaceous_wetland_9000          0   0.077767  25.691447    -0.000200
5    Herbaceous_vegetation_9000          0   0.000000  25.728862    -0.000206
4    Herbaceous_vegetation_6000          0   0.000000  25.728862    -0.000206
12  Bare/sparse_vegetation_3000          0   0.000000  25.728862    -0.000206
3    Herbaceous_vegetation_3000          0   0.000000  25.728862    -0.000206
2                   Shrubs_9000          0   0.000000  25.728862    -0.000206
15            Snow_and_ice_3000          1   0.000000  25.728862    -0.000206
13  Bare/sparse_vegetation_6000          0   0.000000  25.728862    -0.000206
1                   Shrubs_6000          0   0.000000  25.728862    -0.000206
16            Snow_and_ice_6000          1   0.000000  25.728862    -0.000206
17            Snow_and_ice_9000          1   0.000000  25.728862    -0.000206
24         Moss_and_lichen_3000          0   0.000000  25.728862    -0.000206
25         Moss_and_lichen_6000          0   0.000000  25.728862    -0.000206
26         Moss_and_lichen_9000          0   0.000000  25.728862    -0.000206
0                   Shrubs_3000          0   0.000000  25.728862    -0.000206

In [19]:
best_feature = valid_model_df['feature'].to_numpy()[0]
H = univariate_models[best_feature]
print("Best feature: " + best_feature)

Best feature: Urban/built_up_6000

# Bước 3: Thêm lần lượt các feature

In [20]:
def is_model_valid(coefs, features):
    for i in range(len(features)):
        direction = direction_data.query(f'feature == "{features[i]}"')['direction'].to_numpy()[0] * 2 - 1
        if coefs[i] * direction < 0:
            return False
    return True

is_model_valid([14.946586, -13.687712], ['relative_humidity_9000', 'relative_humidity_6000'])

False

In [ ]:
EPS = 1e-4

models = {}
current_r2 = valid_model_df['adjusted_r2'].to_numpy()[0]
chosen_features = []
chosen_features.append(best_feature)
remaining_features = set(features)
remaining_features.remove(best_feature)
print(f"Step: {len(chosen_features)}, added: {best_feature}, r2: {current_r2}")
while len(remaining_features) > 0:
    valid_models = []
    for feature in remaining_features:
        models[feature], adjusted_r2 = get_model_and_r2(chosen_features + [feature])
        if is_model_valid(models[feature].coef_, chosen_features + [feature]):
            valid_models.append([feature, adjusted_r2])

    if len(valid_models) == 0:
        break
    best_feature_id = np.array(valid_models)[:, 1].argmax()
    best_feature, adjusted_r2 = valid_models[best_feature_id]
    if adjusted_r2 - current_r2 <= EPS:
        break
    
    print(f"Step: {len(chosen_features) + 1}, added: {best_feature}, r2: {adjusted_r2}, increased by: {adjusted_r2 - current_r2}")
    chosen_features.append(best_feature)
    coefs = models[best_feature].coef_
    print(f"Coefs: {coefs}")
    print(f"Most important feature: {chosen_features[np.argmax(coefs)]}, coef: {coefs[np.argmax(coefs)]}")
    print()
    remaining_features.remove(best_feature)
    current_r2 = adjusted_r2

Step: 1, added: Urban/built_up_6000, r2: 0.09854068305171271
Step: 2, added: Permanent_water_bodies_9000, r2: 0.1671066893951465, increased by: 0.0685660063434338
Coefs: [1.71587275 3.20953593]
Most important feature: Permanent_water_bodies_9000, coef: 3.209535928402487

Step: 3, added: Herbaceous_wetland_6000, r2: 0.22568328124864434, increased by: 0.05857659185349784
Coefs: [  2.62665996   6.13554379 -12.4489065 ]
Most important feature: Permanent_water_bodies_9000, coef: 6.1355437867712315

Step: 4, added: Close_forest_6000, r2: 0.2922947163511621, increased by: 0.06661143510251777
Coefs: [  2.43166166   7.57062867 -15.4886563   -1.15542408]
Most important feature: Permanent_water_bodies_9000, coef: 7.570628672830869

Step: 5, added: Cultivated_and_managed_vegetation/agriculture_9000, r2: 0.3338209059269779, increased by: 0.041526189575815775
Coefs: [  2.274844     6.26721409 -14.68421405  -1.74794963  -0.55158362]
Most important feature: Permanent_water_bodies_9000, coef: 6.267214091327528

Step: 6, added: population_density_3000, r2: 0.37292829912632464, increased by: 0.03910739319934675
Coefs: [  2.11246634   5.40605582 -15.52716306  -1.84119764  -0.81885212
   0.04607854]
Most important feature: Permanent_water_bodies_9000, coef: 5.406055817535184

Step: 7, added: Herbaceous_wetland_9000, r2: 0.3936134145700254, increased by: 0.020685115443700774
Coefs: [  2.08208506   5.656841   -10.0966407   -1.47227836  -0.84324471
   0.07422118  -8.93268415]
Most important feature: Permanent_water_bodies_9000, coef: 5.656841004194114

Step: 8, added: S5P_NO2_9000, r2: 0.4026928761919192, increased by: 0.00907946162189377
Coefs: [ 2.15522467e+00  5.82665532e+00 -1.03602172e+01 -1.37375011e+00
 -7.85090627e-01  7.28149003e-02 -8.88166970e+00  5.19026414e+04]
Most important feature: S5P_NO2_9000, coef: 51902.64138479195

Step: 9, added: Oceans,seas_6000, r2: 0.4128331600885826, increased by: 0.010140283896663438
Coefs: [ 1.32800444e+00  4.40959207e+00 -9.52653253e+00 -2.50662283e+00
 -1.72291322e+00  9.02769315e-02 -1.14191740e+01  5.72871153e+04
 -1.44529472e+00]
Most important feature: S5P_NO2_9000, coef: 57287.11530925235

Step: 10, added: Permanent_water_bodies_3000, r2: 0.42306342041586353, increased by: 0.010230260327280916
Coefs: [ 1.00585161e+00  3.21265723e+00 -7.89710212e+00 -2.66502977e+00
 -1.89750989e+00  1.17148935e-01 -1.42509422e+01  5.60623910e+04
 -1.98274068e+00  4.46968816e+00]
Most important feature: S5P_NO2_9000, coef: 56062.39100191357

Step: 11, added: pressure_3000, r2: 0.43104934884813384, increased by: 0.007985928432270306
Coefs: [ 1.02662333e+00  3.20129703e+00 -7.80811638e+00 -2.64043719e+00
 -1.87004876e+00  1.16865031e-01 -1.41323385e+01  6.40746498e+04
 -1.99304894e+00  4.54220790e+00 -1.69225205e-03]
Most important feature: S5P_NO2_9000, coef: 64074.6497726576

Step: 12, added: Open_forest_3000, r2: 0.4375476481167144, increased by: 0.006498299268580587
Coefs: [ 5.63309974e-01  2.90386677e+00 -8.49073156e+00 -3.30715829e+00
 -2.23866881e+00  1.12143649e-01 -1.52318802e+01  6.37065894e+04
 -2.75803538e+00  5.14572000e+00 -1.71319827e-03 -3.82634157e+00]
Most important feature: S5P_NO2_9000, coef: 63706.58940384038

Step: 13, added: Urban/built_up_9000, r2: 0.438183679676611, increased by: 0.0006360315598965549
Coefs: [ 2.14919846e-01  2.95262255e+00 -8.76398314e+00 -3.12482223e+00
 -2.23079263e+00  1.18627020e-01 -1.62924472e+01  6.28686659e+04
 -2.62279383e+00  5.76142793e+00 -1.73307886e-03 -2.64282331e+00
  3.51143113e-01]
Most important feature: S5P_NO2_9000, coef: 62868.66587959965

Step: 14, added: planetary_boundary_layer_height[pblh]_3000, r2: 0.43861250184710865, increased by: 0.0004288221704976669
Coefs: [ 1.80312691e-01  2.90120114e+00 -8.68834075e+00 -3.10832745e+00
 -2.22659234e+00  1.19386261e-01 -1.63394488e+01  6.40784022e+04
 -2.61924984e+00  5.83298365e+00 -1.89082845e-03 -2.54684900e+00
  3.77257143e-01 -2.32933891e-03]
Most important feature: S5P_NO2_9000, coef: 64078.40224022185

# Bước 4: Xóa các feature có p-value > 0.1 (từ model)

In [ ]:
import statsmodels.api as sm
def backwardElimination(x, Y, sl, columns):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(Y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    x = np.delete(x, j, 1)
                    columns = np.delete(columns, j)
                    
    regressor_OLS.summary()
    return x, columns

In [ ]:
P_VALUE_THRESHOLD = 0.1
_, filtered_features = backwardElimination(train_data[chosen_features].values, train_data['NO2'].values, P_VALUE_THRESHOLD, chosen_features)

In [ ]:
# Train lại, so sánh với mô hình trước.
_, adjusted_r2 = get_model_and_r2(filtered_features)
print(f"Before: {chosen_features}, r2: {current_r2}")
print(f"After: {filtered_features}, r2: {adjusted_r2}")
if adjusted_r2 > current_r2:
    chosen_features = filtered_features
    current_r2 = adjusted_r2

print(f"Best features: {chosen_features}, r2: {current_r2}")

# Bước 5: Xóa một feature có VIF > 3 (từ model)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
def cal_vif(x, threshold):
    output = pd.DataFrame()
    k = x.shape[1]
    vif = [variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
    for i in range(1,k):
        print('Iteration no ', i)
        print(vif)
        a = np.argmax(vif)
        print('Max vif is for variable no : ', a)
        if(vif[a] <= threshold):
            break
        if(i==1):
            output = x.drop(x.columns[a], axis=1)
            vif = [variance_inflation_factor(output.values,j) for j in range(output.shape[1])]
        elif(i>1):
            output = output.drop(output.columns[a], axis=1)
            vif = [variance_inflation_factor(output.values,j) for j in range(output.shape[1])]
        break
    return(output)

In [ ]:
VIF_THRESHOLD = 3
remaining_features = cal_vif(train_data[chosen_features], VIF_THRESHOLD).columns

print("Remaining features: ", end='')
print(remaining_features)

In [ ]:
#  So sánh với các mô hình trước.
_, adjusted_r2 = get_model_and_r2(remaining_features)
print(f"After deleting one feature with highest VIF: {remaining_features}, r2: {adjusted_r2}")
print(f"R2 decreased by {current_r2 - adjusted_r2}")
chosen_features = remaining_features
current_r2 = adjusted_r2

In [ ]:
best_model, _ = get_model_and_r2(chosen_features)

# Bước 6: Xóa các dữ liệu (hàng) có Cook’s D value > 1 (từ tập train)

In [ ]:
import statsmodels.api as sm
def cal_cooks_distance(x, y, threshold):
    #add constant to predictor variables
    x = sm.add_constant(x)
    #fit linear regression model
    model = sm.OLS(y, x).fit()
    np.set_printoptions(suppress=True)
    #create instance of influence
    influence = model.get_influence()
    #obtain Cook's distance for each observation
    cooks = influence.cooks_distance
    print("100 highest Cook's D values:")
    print(pd.Series(cooks[0]).sort_values(ascending=False).head(100).to_numpy())
    
    rows = []
    for i in range(len(cooks[0])):
        if cooks[0][i] <= threshold:
            rows.append(i)
    return x.iloc[rows].drop(columns=['const']), y.iloc[rows]

In [ ]:
COOKS_D_THRESHOLD = 1
x_cook, y_cook = cal_cooks_distance(train_data[chosen_features], train_data['NO2'], COOKS_D_THRESHOLD)

print(f"Remaining rows: {len(x_cook)}")

In [ ]:
#  Train lại, so sánh với các mô hình trước.
model_cook, adjusted_r2 = get_model_and_r2(chosen_features, x_cook, y_cook)
print(f"Before: {chosen_features}, r2: {current_r2}")
print(f"After: {chosen_features}, r2: {adjusted_r2}")
if adjusted_r2 > current_r2:
    current_r2 = adjusted_r2
    best_model = model_cook
    
print(f"Best features: {chosen_features}, r2: {current_r2}")

# Bước 7: Test

In [ ]:
from osgeo import gdal
from osgeo import osr
from osgeo.gdalconst import *
import matplotlib.pyplot as plt

In [ ]:
# Function to read the original file's projection:
def GetGeoInfo(FileName):
    SourceDS = gdal.Open(FileName, GA_ReadOnly)
    NDV = SourceDS.GetRasterBand(1).GetNoDataValue()
    xsize = SourceDS.RasterXSize
    ysize = SourceDS.RasterYSize
    GeoT = SourceDS.GetGeoTransform()
    Projection = osr.SpatialReference()
    Projection.ImportFromWkt(SourceDS.GetProjectionRef())
    DataType = SourceDS.GetRasterBand(1).DataType
    DataType = gdal.GetDataTypeName(DataType)
    return NDV, xsize, ysize, GeoT, Projection, DataType

In [ ]:
def ReadGeoTiff(FilePath):
    dataset = gdal.Open(FilePath, GA_ReadOnly)
    # Get the first (and only) band.
    band = dataset.GetRasterBand(1)
    # Open as an array.
    return band.ReadAsArray()

In [ ]:
# Function to write a new file.
def CreateGeoTiff(NewFilePath, Array, driver, NDV, 
                  xsize, ysize, GeoT, Projection, DataType):
    if DataType == 'Float32':
        DataType = gdal.GDT_Float32
    elif DataType == 'Float64':
        DataType = gdal.GDT_Float64
    elif DataType == 'Byte':
        DataType = gdal.GDT_Byte
    # Set nans to the original No Data Value
    if NDV is None:
        NDV = np.nan
    Array[np.isnan(Array)] = NDV
    # Set up the dataset
    DataSet = driver.Create( NewFilePath, xsize, ysize, 1, DataType )
            # the '1' is for band 1.
    DataSet.SetGeoTransform(GeoT)
    DataSet.SetProjection( Projection.ExportToWkt() )
    # Write the array
    DataSet.GetRasterBand(1).WriteArray( Array )
    DataSet.GetRasterBand(1).SetNoDataValue(NDV)
    return NewFilePath

In [ ]:
def test_date(date):
    templateFilePath = r'data/template.tif'
    array = ReadGeoTiff(templateFilePath)
    
    array = np.full(array.shape, np.nan)
    test_data = pd.read_csv(f'data/test/test{date.year}{date.month:02}{date.day:02}.csv')
    no2 = best_model.predict(test_data[chosen_features])
    test_locations = test_data[['lat', 'lon']].to_numpy()
    for i in range(len(no2)):
        lat, lon = test_locations[i]
        x, y = lat_to_x(lat), lon_to_y(lon)
        array[round(x)][round(y)] = no2[i]
    
    NDV, xsize, ysize, GeoT, Projection, DataType = GetGeoInfo(templateFilePath)
    # Set up the GTiff driver
    driver = gdal.GetDriverByName('GTiff')
    outputFile = CreateGeoTiff(f'output/NO2_{date.year}{date.month:02}{date.day:02}.tif',
                               array, driver, NDV, xsize, ysize, GeoT, Projection, DataType)
    return array

In [ ]:
# Thử test ngày 16/2/2019 và trực quan hóa kết quả
output1 = test_date(datetime.datetime(2019, 2, 16))
plt.imshow(output1)

In [ ]:
# Thử test ngày 18/4/2019 và trực quan hóa kết quả
output2 = test_date(datetime.datetime(2019, 4, 18))
plt.imshow(output2)

In [ ]:
# Thử test ngày 15/11/2019 và trực quan hóa kết quả
output3 = test_date(datetime.datetime(2019, 11, 15))
plt.imshow(output3)