<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Nhập-thư-viện-và-định-nghĩa-hàm-hữu-dụng" data-toc-modified-id="Nhập-thư-viện-và-định-nghĩa-hàm-hữu-dụng-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Nhập thư viện và định nghĩa hàm hữu dụng</a></span></li><li><span><a href="#Tải-dữ-liệu" data-toc-modified-id="Tải-dữ-liệu-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Tải dữ liệu</a></span></li><li><span><a href="#Tiền-xử-lý" data-toc-modified-id="Tiền-xử-lý-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tiền xử lý</a></span><ul class="toc-item"><li><span><a href="#Xử-lý-hàng-bị-mất-dữ-liệu-NO2" data-toc-modified-id="Xử-lý-hàng-bị-mất-dữ-liệu-NO2-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Xử lý hàng bị mất dữ liệu NO2</a></span></li><li><span><a href="#Xử-lý-outliers" data-toc-modified-id="Xử-lý-outliers-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Xử lý outliers</a></span></li><li><span><a href="#Xử-lý-các-hàng-NO2-=-0" data-toc-modified-id="Xử-lý-các-hàng-NO2-=-0-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Xử lý các hàng NO2 = 0</a></span></li><li><span><a href="#Chuẩn-hóa-dữ-liệu" data-toc-modified-id="Chuẩn-hóa-dữ-liệu-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Chuẩn hóa dữ liệu</a></span></li></ul></li><li><span><a href="#Bước-1:-Tạo-các-mô-hình-univariate" data-toc-modified-id="Bước-1:-Tạo-các-mô-hình-univariate-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Bước 1: Tạo các mô hình univariate</a></span></li><li><span><a href="#Bước-2:-Chọn-feature-tốt-nhất" data-toc-modified-id="Bước-2:-Chọn-feature-tốt-nhất-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Bước 2: Chọn feature tốt nhất</a></span></li><li><span><a href="#Bước-3:-Thêm-lần-lượt-các-feature" data-toc-modified-id="Bước-3:-Thêm-lần-lượt-các-feature-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Bước 3: Thêm lần lượt các feature</a></span></li><li><span><a href="#Bước-4:-Xóa-các-feature-có-p-value->-0.1-(từ-model)" data-toc-modified-id="Bước-4:-Xóa-các-feature-có-p-value->-0.1-(từ-model)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Bước 4: Xóa các feature có p-value &gt; 0.1 (từ model)</a></span></li><li><span><a href="#Bước-5:-Liên-tục-xóa-một-feature-có-VIF->-3-(từ-model)" data-toc-modified-id="Bước-5:-Liên-tục-xóa-một-feature-có-VIF->-3-(từ-model)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Bước 5: Liên tục xóa một feature có VIF &gt; 3 (từ model)</a></span></li><li><span><a href="#Bước-6:-Xóa-các-dữ-liệu-(hàng)-có-Cook’s-D-value->-1-(từ-tập-train)" data-toc-modified-id="Bước-6:-Xóa-các-dữ-liệu-(hàng)-có-Cook’s-D-value->-1-(từ-tập-train)-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Bước 6: Xóa các dữ liệu (hàng) có Cook’s D value &gt; 1 (từ tập train)</a></span></li><li><span><a href="#Đánh-giá" data-toc-modified-id="Đánh-giá-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Đánh giá</a></span></li><li><span><a href="#Lưu-lại-mô-hình" data-toc-modified-id="Lưu-lại-mô-hình-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Lưu lại mô hình</a></span></li><li><span><a href="#Test" data-toc-modified-id="Test-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Test</a></span></li></ul></div>

# Nhập thư viện và định nghĩa hàm hữu dụng

In [1]:
import datetime
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import KFold
import pickle
import warnings
warnings.filterwarnings("ignore")

In [2]:
def lat_to_x(lat):
    return (25.6 - lat) / 0.025

In [3]:
def lon_to_y(lon):
    return (lon - 100.1) / 0.025

In [4]:
# Coefficeint of Correlation
def corrcoef(y_true, y_pred):
    corr_matrix = np.corrcoef(y_true, y_pred)
    corr = corr_matrix[0,1]
    return corr

In [5]:
# Coefficient of Determination = Coefficeint of Correlation ^ 2
def r2_score(y_true, y_pred):
    corr = corrcoef(y_true, y_pred)
    r2 = corr**2
    return r2

y_true_example = [21, 21, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2]
y_pred_example = [21.5, 21.14, 26.1, 20.2, 17.5, 19.7, 14.9, 22.5, 25.1, 18]
r2_score(y_true_example, y_pred_example)

0.7484336771309614

In [6]:
def adjusted_r2_score(y_true, y_pred, n_features):
    r2 = r2_score(y_true, y_pred)
    rbar2 = 1 - (1 - r2) * (len(y_true) - 1) / (len(y_true) - n_features - 1)
    return rbar2

adjusted_r2_score(y_true_example, y_pred_example, 3)

0.6226505156964421

In [7]:
EPSILON = np.finfo(np.float64).eps

def _error(y_true, y_pred):
    return y_true - y_pred

In [8]:
def _percentage_error(y_true, y_pred):
    return _error(y_true, y_pred) / (y_true + EPSILON)

In [9]:
def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs(_percentage_error(y_true, y_pred)))

# Tải dữ liệu

In [10]:
train_data = pd.read_csv('data/train.csv')
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
0,1/1/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
1,1/2/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226

In [11]:
direction_data = pd.read_csv('data/direction.csv')
direction_data

                      feature  direction
0                 Shrubs_3000          0
1                 Shrubs_6000          0
2                 Shrubs_9000          0
3                Shrubs_12000          0
4                Shrubs_15000          0
..                        ...        ...
127   population_density_6000          1
128   population_density_9000          1
129  population_density_12000          1
130  population_density_15000          1
131  population_density_18000          1

[132 rows x 2 columns]

# Tiền xử lý

## Xử lý hàng bị mất dữ liệu NO2

In [12]:
train_data[train_data['NO2'].isna()]

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
0,1/1/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
1,1/2/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
128,5/23/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
129,5/24/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
130,5/25/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
131,5/26/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
132,5/27/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
133,5/28/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
135,5/30/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
136,5/31/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
137,6/1/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
138,6/2/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
139,6/3/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
140,6/4/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
141,6/5/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
142,6/6/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
143,6/7/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
144,6/8/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
145,6/9/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
146,6/10/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
147,6/11/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
148,6/12/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
149,6/13/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
150,6/14/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
151,6/15/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
152,6/16/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
153,6/17/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
154,6/18/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
155,6/19/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
156,6/20/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
157,6/21/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
158,6/22/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
159,6/23/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
160,6/24/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
161,6/25/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
257,10/17/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
259,10/19/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
260,10/20/2019,21.0491,105.8831,NaN,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782

In [13]:
# Xoá dữ liệu bị mất
train_data.dropna(subset=['NO2'], inplace=True)
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
5,1/6/2019,21.0491,105.8831,30.008246,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
6,1/7/2019,21.0491,105.8831,38.881163,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226

## Xử lý outliers

In [14]:
train_data['NO2'].describe()

count      4849.000000
mean        167.776477
std        9371.084202
min           0.000000
25%          14.550000
50%          21.808333
75%          34.653108
max      651519.076000
Name: NO2, dtype: float64

In [15]:
train_data['NO2'].sort_values()

1975         0.000000
1876         0.000000
1875         0.000000
1874         0.000000
1873         0.000000
            ...
22          95.192095
3574        97.678375
3573       104.062462
754      37321.263950
895     651519.076000
Name: NO2, Length: 4849, dtype: float64

In [16]:
train_data.query("NO2 > 200")

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
754,7/17/2019,16.074,108.217,37321.26395,DaNang,0,0,0,0,0,...,1649.430493,1350.250406,1145.334358,1004.159406,112.943833,46.761511,27.069948,18.162718,13.391168,10.510942
895,12/19/2019,16.074,108.217,651519.07600,DaNang,0,0,0,0,0,...,1649.430493,1350.250406,1145.334358,1004.159406,112.943833,46.761511,27.069948,18.162718,13.391168,10.510942

In [17]:
train_data = train_data.query("NO2 <= 200")
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
5,1/6/2019,21.0491,105.8831,30.008246,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
6,1/7/2019,21.0491,105.8831,38.881163,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226

## Xử lý các hàng NO2 = 0

In [18]:
train_data.query('NO2 == 0')

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
1858,5/21/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
1859,5/22/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
1860,5/27/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
1861,5/28/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
1862,5/29/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,10/31/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
2007,11/1/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
2008,11/2/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
2009,11/3/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562
2010,11/4/2019,16.46226,107.596351,0.0,Hue,0,0,0,0,0,...,1547.589267,1369.956525,1204.248305,1035.297122,42.704939,20.208998,12.357605,9.45582,7.364309,5.86562

In [19]:
def station_agg(x):
    d = {}
    d['name'] = x['name'].iloc[0]
    d['lat'] = x['lat'].iloc[0]
    d['lon'] = x['lon'].iloc[0]
    d['num of rows'] = len(x)
    d['num of rows with zero NO2'] = len(x.query('NO2 == 0'))
    d['Percentage of zero NO2'] = d['num of rows with zero NO2'] / d['num of rows'] * 100
    return pd.Series(d)

train_data.groupby('name').apply(station_agg).sort_values('Percentage of zero NO2', ascending=False).reset_index(drop=True)

,name,lat,lon,num of rows,num of rows with zero NO2,Percentage of zero NO2
0,Hue,16.462260,107.596351,212,153,72.169811
1,ChiCuc,21.015200,105.799900,365,0,0.000000
2,DaNang,16.074000,108.217000,208,0,0.000000
3,HaLong-QuangNinh,20.941667,107.115833,219,0,0.000000
4,HangDau,21.039900,105.847300,365,0,0.000000
5,HoanKiem,21.026300,105.851500,365,0,0.000000
6,KimLien,21.007400,105.835800,365,0,0.000000
7,MinhKhai,21.050000,105.740000,365,0,0.000000
8,MyDinh,21.026900,105.773100,365,0,0.000000
9,NVC,21.049100,105.883100,295,0,0.000000
10,PVD,21.050000,105.782000,365,0,0.000000
11,PhuTho,21.338470,105.367300,263,0,0.000000
12,TanMai,20.988300,105.854900,365,0,0.000000
13,TayMo,21.005800,105.748500,365,0,0.000000
14,ThanhCong,21.019700,105.814700,365,0,0.000000

In [20]:
train_data = train_data.query("NO2 != 0")
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
5,1/6/2019,21.0491,105.8831,30.008246,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
6,1/7/2019,21.0491,105.8831,38.881163,NVC,0,0,0,0,0,...,2177.353131,1931.804512,1700.352331,1549.594881,65.648988,75.064685,74.036149,58.681461,46.915403,38.893782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0,0,0,0,0,...,2051.262221,1735.979372,1515.332126,1403.562230,246.162011,144.556331,90.604716,64.061012,48.544780,39.621226

## Chuẩn hóa dữ liệu

In [21]:
features = direction_data['feature']

In [22]:
scaler = StandardScaler()

In [23]:
train_data[features] = scaler.fit_transform(train_data[features])
train_data

,time,lat,lon,NO2,name,Shrubs_3000,Shrubs_6000,Shrubs_9000,Shrubs_12000,Shrubs_15000,...,road_density_9000,road_density_12000,road_density_15000,road_density_18000,population_density_3000,population_density_6000,population_density_9000,population_density_12000,population_density_15000,population_density_18000
2,1/3/2019,21.0491,105.8831,41.310400,NVC,0.0,0.0,0.0,0.0,0.0,...,0.813632,1.184569,1.169963,1.038652,-0.755915,-0.382131,0.157766,0.306439,0.347591,0.414190
3,1/4/2019,21.0491,105.8831,39.379204,NVC,0.0,0.0,0.0,0.0,0.0,...,0.813632,1.184569,1.169963,1.038652,-0.755915,-0.382131,0.157766,0.306439,0.347591,0.414190
4,1/5/2019,21.0491,105.8831,39.901879,NVC,0.0,0.0,0.0,0.0,0.0,...,0.813632,1.184569,1.169963,1.038652,-0.755915,-0.382131,0.157766,0.306439,0.347591,0.414190
5,1/6/2019,21.0491,105.8831,30.008246,NVC,0.0,0.0,0.0,0.0,0.0,...,0.813632,1.184569,1.169963,1.038652,-0.755915,-0.382131,0.157766,0.306439,0.347591,0.414190
6,1/7/2019,21.0491,105.8831,38.881163,NVC,0.0,0.0,0.0,0.0,0.0,...,0.813632,1.184569,1.169963,1.038652,-0.755915,-0.382131,0.157766,0.306439,0.347591,0.414190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,12/27/2019,21.0197,105.8147,18.995833,ThanhCong,0.0,0.0,0.0,0.0,0.0,...,0.497454,0.477302,0.327701,0.325229,1.511810,1.186146,0.765063,0.582231,0.455195,0.474006
4883,12/28/2019,21.0197,105.8147,23.241667,ThanhCong,0.0,0.0,0.0,0.0,0.0,...,0.497454,0.477302,0.327701,0.325229,1.511810,1.186146,0.765063,0.582231,0.455195,0.474006
4884,12/29/2019,21.0197,105.8147,16.816667,ThanhCong,0.0,0.0,0.0,0.0,0.0,...,0.497454,0.477302,0.327701,0.325229,1.511810,1.186146,0.765063,0.582231,0.455195,0.474006
4885,12/30/2019,21.0197,105.8147,21.595833,ThanhCong,0.0,0.0,0.0,0.0,0.0,...,0.497454,0.477302,0.327701,0.325229,1.511810,1.186146,0.765063,0.582231,0.455195,0.474006
4886,12/31/2019,21.0197,105.8147,19.058333,ThanhCong,0.0,0.0,0.0,0.0,0.0,...,0.497454,0.477302,0.327701,0.325229,1.511810,1.186146,0.765063,0.582231,0.455195,0.474006

# Bước 1: Tạo các mô hình univariate

In [24]:
def get_model_and_r2(features, X=None, y=None, use_lr=True):
    if X is None:
        X = train_data[features]
    if y is None:
        y = train_data['NO2']
    if use_lr:
        model = LinearRegression().fit(X, y)
    else:
        from sklearn.svm import SVR
        model = SVR().fit(X, y)
    y_pred = model.predict(X)
    adjusted_r2 = adjusted_r2_score(y, y_pred, len(features))
    return model, adjusted_r2

In [25]:
univariate_models = {}
model_infos = []

for feature in features:
    direction = direction_data[direction_data['feature'] == feature]['direction'].to_numpy()[0]
    X = train_data[feature].to_numpy().reshape(-1, 1)
    y = train_data['NO2']
    lr, adjusted_r2 = get_model_and_r2([feature], X, y)
    univariate_models[feature] = lr
    model_infos.append([feature, direction, lr.coef_[0], lr.intercept_, adjusted_r2])
    
model_info_df = pd.DataFrame(model_infos, columns=['feature', 'direction', 'a', 'b', 'adjusted_r2'])

# Bước 2: Chọn feature tốt nhất

In [26]:
sorted_models_df = model_info_df.sort_values('adjusted_r2', ascending=False)

In [27]:
valid_model_df = sorted_models_df[(sorted_models_df['direction'] * 2 - 1) * sorted_models_df['a'] > 0]
valid_model_df

,feature,direction,a,b,adjusted_r2
41,Permanent_water_bodies_18000,1,5.623419,26.56749,0.137745
13,Cultivated_and_managed_vegetation/agriculture_...,0,-4.480403,26.56749,0.087362
46,Herbaceous_wetland_15000,0,-4.333019,26.56749,0.081695
14,Cultivated_and_managed_vegetation/agriculture_...,0,-4.031552,26.56749,0.070694
37,Permanent_water_bodies_6000,1,4.003728,26.56749,0.069719
...,...,...,...,...,...
96,relative_humidity_3000,1,0.179261,26.56749,-0.000073
101,relative_humidity_18000,1,0.163052,26.56749,-0.000097
112,planetary_boundary_layer_height[pblh]_15000,0,-0.136282,26.56749,-0.000132
22,Urban/built_up_15000,1,0.076941,26.56749,-0.000187
113,planetary_boundary_layer_height[pblh]_18000,0,-0.029467,26.56749,-0.000209

In [28]:
best_feature = valid_model_df['feature'].to_numpy()[0]
H = univariate_models[best_feature]
print("Best feature: " + best_feature)

Best feature: Permanent_water_bodies_18000

# Bước 3: Thêm lần lượt các feature

In [29]:
def is_model_valid(coefs, features):
    for i in range(len(features)):
        direction = direction_data.query(f'feature == "{features[i]}"')['direction'].to_numpy()[0] * 2 - 1
        if coefs[i] * direction < 0:
            return False
    return True

is_model_valid([14.946586, -13.687712], ['relative_humidity_9000', 'relative_humidity_6000'])

False

In [30]:
EPS = 0.001

models = {}
current_r2 = valid_model_df['adjusted_r2'].to_numpy()[0]
chosen_features = []
chosen_features.append(best_feature)
remaining_features = set(features)
remaining_features.remove(best_feature)
print(f"Step: {len(chosen_features)}, added: {best_feature}, r2: {current_r2}")
while len(remaining_features) > 0:
    valid_models = []
    for feature in remaining_features:
        models[feature], adjusted_r2 = get_model_and_r2(chosen_features + [feature])
        if is_model_valid(models[feature].coef_, chosen_features + [feature]):
            valid_models.append([feature, adjusted_r2])

    if len(valid_models) == 0:
        break
    best_feature_id = np.array(valid_models)[:, 1].argmax()
    best_feature, adjusted_r2 = valid_models[best_feature_id]
    if adjusted_r2 - current_r2 <= EPS:
        break
    
    print(f"Step: {len(chosen_features) + 1}, added: {best_feature}, r2: {adjusted_r2}, increased by: {adjusted_r2 - current_r2}")
    chosen_features.append(best_feature)
    coefs = models[best_feature].coef_
    print(f"Coefs: {coefs}")
    print(f"Most important feature: {chosen_features[np.argmax(coefs)]}, coef: {coefs[np.argmax(coefs)]}")
    print()
    remaining_features.remove(best_feature)
    current_r2 = adjusted_r2

Step: 1, added: Permanent_water_bodies_18000, r2: 0.13774524620490314
Step: 2, added: Open_forest_3000, r2: 0.1992088447922331, increased by: 0.06146359858732997
Coefs: [ 6.53112589 -3.86674926]
Most important feature: Permanent_water_bodies_18000, coef: 6.531125886816796

Step: 3, added: Herbaceous_wetland_12000, r2: 0.22638237199719013, increased by: 0.027173527204957026
Coefs: [ 7.1832976  -5.76062254 -3.11406251]
Most important feature: Permanent_water_bodies_18000, coef: 7.183297603797907

Step: 4, added: road_density_3000, r2: 0.2944719547027207, increased by: 0.06808958270553056
Coefs: [ 6.61593268 -5.31468825 -7.28951141  5.98909227]
Most important feature: Permanent_water_bodies_18000, coef: 6.615932678011167

Step: 5, added: Herbaceous_wetland_6000, r2: 0.33795491936305555, increased by: 0.043482964660334855
Coefs: [ 7.91185449 -5.7589688  -7.27352601  7.84011155 -4.04986911]
Most important feature: Permanent_water_bodies_18000, coef: 7.911854492196466

Step: 6, added: Shrubs_18000, r2: 0.3676515727317251, increased by: 0.029696653368669557
Coefs: [10.11841324 -8.12866544 -9.04086159  6.90154748 -4.65671342 -3.73353198]
Most important feature: Permanent_water_bodies_18000, coef: 10.118413243046803

Step: 7, added: Herbaceous_wetland_15000, r2: 0.3829290085635517, increased by: 0.015277435831826613
Coefs: [ 9.72660736 -9.18599806 -9.17992089  5.17304651 -4.01627689 -5.30135052
 -2.6282645 ]
Most important feature: Permanent_water_bodies_18000, coef: 9.726607364517745

Step: 8, added: S5P_NO2_18000, r2: 0.39404793269755123, increased by: 0.011118924133999508
Coefs: [ 9.71619188 -9.24621366 -9.35694783  5.16994002 -4.03402072 -5.77675582
 -2.80106073  1.65043408]
Most important feature: Permanent_water_bodies_18000, coef: 9.716191876095662

Step: 9, added: pressure_18000, r2: 0.40544428697085977, increased by: 0.01139635427330854
Coefs: [ 9.70587464 -9.15826963 -9.07862566  5.12544938 -3.9997381  -5.96299016
 -2.58354368  1.93721863 -1.69989874]
Most important feature: Permanent_water_bodies_18000, coef: 9.705874642699909

Step: 10, added: Permanent_water_bodies_9000, r2: 0.4098842078627616, increased by: 0.004439920891901816
Coefs: [ 10.14985629 -10.00384533  -8.80601323   3.7541136   -4.86871527
  -6.91044941  -2.0798035    1.95500963  -1.73628721   1.97219348]
Most important feature: Permanent_water_bodies_18000, coef: 10.149856288473178

Step: 11, added: Oceans,seas_15000, r2: 0.4124032336337493, increased by: 0.002519025770987726
Coefs: [ 10.61665765 -12.07023673 -11.59628953   4.20967473  -5.0785631
  -1.52732698  -3.84896227   1.93367188  -1.74787513   1.77612044
  -7.50534953]
Most important feature: Permanent_water_bodies_18000, coef: 10.616657654971844

Step: 12, added: Cultivated_and_managed_vegetation/agriculture_12000, r2: 0.4158717153803049, increased by: 0.003468481746555563
Coefs: [ 10.16987669 -12.20744593 -12.08048716   4.70713162  -5.32485949
  -1.05393044  -3.95322833   1.97844926  -1.7681098    1.27113918
  -9.61741293  -2.11760424]
Most important feature: Permanent_water_bodies_18000, coef: 10.16987668840222

# Bước 4: Xóa các feature có p-value > 0.1 (từ model)

In [31]:
import statsmodels.api as sm
def backwardElimination(x, Y, sl, columns):
    numVars = len(x[0])
    for i in range(0, numVars):
        print(f'Iteration no {i + 1}')
        regressor_OLS = sm.OLS(Y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        print(f'Max vif: {maxVar}')
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    print(f'Removed feature: {columns[j]}')
                    x = np.delete(x, j, 1)
                    columns = np.delete(columns, j)
                    break
        else:
            break
        print("")
                    
    regressor_OLS.summary()
    return x, columns

In [32]:
P_VALUE_THRESHOLD = 0.1
_, filtered_features = backwardElimination(train_data[chosen_features].values, train_data['NO2'].values, P_VALUE_THRESHOLD, chosen_features)

Iteration no 1
Max vif: 0.7296449091878576
Removed feature: Shrubs_18000

Iteration no 2
Max vif: 0.1490151889428342
Removed feature: Permanent_water_bodies_9000

Iteration no 3
Max vif: 0.00803782493449591

In [33]:
# Train lại, so sánh với mô hình trước.
_, adjusted_r2 = get_model_and_r2(filtered_features)
print(f"Before: {chosen_features}, r2: {current_r2}")
print(f"After: {filtered_features}, r2: {adjusted_r2}")
print(f"R2 decreased by {current_r2 - adjusted_r2}")
#if adjusted_r2 > current_r2:
if True:
    chosen_features = filtered_features
    current_r2 = adjusted_r2

#print(f"Best features: {chosen_features}, r2: {current_r2}")

Before: ['Permanent_water_bodies_18000', 'Open_forest_3000', 'Herbaceous_wetland_12000', 'road_density_3000', 'Herbaceous_wetland_6000', 'Shrubs_18000', 'Herbaceous_wetland_15000', 'S5P_NO2_18000', 'pressure_18000', 'Permanent_water_bodies_9000', 'Oceans,seas_15000', 'Cultivated_and_managed_vegetation/agriculture_12000'], r2: 0.4158717153803049
After: ['Permanent_water_bodies_18000' 'Open_forest_3000'
 'Herbaceous_wetland_12000' 'road_density_3000' 'Herbaceous_wetland_6000'
 'Herbaceous_wetland_15000' 'S5P_NO2_18000' 'pressure_18000'
 'Oceans,seas_15000' 'Cultivated_and_managed_vegetation/agriculture_12000'], r2: 0.41439553757457015
R2 decreased by 0.0014761778057347241

# Bước 5: Liên tục xóa một feature có VIF > 3 (từ model)

In [34]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
def cal_vif(x, threshold):
    output = x
    k = x.shape[1]
    vif = [variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
    for i in range(1,k):
        #print(vif)
        a = np.argmax(vif)
        print('Max vif is for variable: ', x.columns[a])
        print('Max vif: ', vif[a])
        if(vif[a] <= threshold):
            break
        if(i==1):
            output = x.drop(x.columns[a], axis=1)
            vif = [variance_inflation_factor(output.values,j) for j in range(output.shape[1])]
        elif(i>1):
            output = output.drop(output.columns[a], axis=1)
            vif = [variance_inflation_factor(output.values,j) for j in range(output.shape[1])]
        break
    return(output)

In [35]:
VIF_THRESHOLD = 3

iteration_num = 0
old_features = chosen_features
while (True):
    iteration_num += 1
    print('Iteration no ', iteration_num)
    remaining_features = cal_vif(train_data[old_features], VIF_THRESHOLD).columns
    if len(old_features) == len(remaining_features):
        break
        
    print("Remaining features: ", remaining_features)
    print("")
    old_features = remaining_features

Iteration no  1
Max vif is for variable:  Oceans,seas_15000
Max vif:  8.960905043677354
Remaining features:  Index(['Permanent_water_bodies_18000', 'Open_forest_3000',
       'Herbaceous_wetland_12000', 'road_density_3000',
       'Herbaceous_wetland_6000', 'Herbaceous_wetland_15000', 'S5P_NO2_18000',
       'pressure_18000',
       'Cultivated_and_managed_vegetation/agriculture_12000'],
      dtype='object')

Iteration no  2
Max vif is for variable:  road_density_3000
Max vif:  3.2962259160595293
Remaining features:  Index(['Permanent_water_bodies_18000', 'Open_forest_3000',
       'Herbaceous_wetland_12000', 'Herbaceous_wetland_6000',
       'Herbaceous_wetland_15000', 'S5P_NO2_18000', 'pressure_18000',
       'Cultivated_and_managed_vegetation/agriculture_12000'],
      dtype='object')

Iteration no  3
Max vif is for variable:  Cultivated_and_managed_vegetation/agriculture_12000
Max vif:  2.7842563891569894

In [36]:
#  So sánh với các mô hình trước.
_, adjusted_r2 = get_model_and_r2(remaining_features)
print(f"After deleting features with VIF > 3: {remaining_features}, r2: {adjusted_r2}")
print(f"R2 decreased by {current_r2 - adjusted_r2}")
chosen_features = remaining_features
#chosen_features = list(set(chosen_features) | set(features[72:-12]))
current_r2 = adjusted_r2

After deleting features with VIF > 3: Index(['Permanent_water_bodies_18000', 'Open_forest_3000',
       'Herbaceous_wetland_12000', 'Herbaceous_wetland_6000',
       'Herbaceous_wetland_15000', 'S5P_NO2_18000', 'pressure_18000',
       'Cultivated_and_managed_vegetation/agriculture_12000'],
      dtype='object'), r2: 0.2933566650580487
R2 decreased by 0.12103887251652146

In [37]:
best_model, _ = get_model_and_r2(chosen_features)

# Bước 6: Xóa các dữ liệu (hàng) có Cook’s D value > 1 (từ tập train)

In [38]:
import statsmodels.api as sm
def cal_cooks_distance(x, y, threshold):
    #add constant to predictor variables
    x = sm.add_constant(x)
    #fit linear regression model
    model = sm.OLS(y, x).fit()
    np.set_printoptions(suppress=True)
    #create instance of influence
    influence = model.get_influence()
    #obtain Cook's distance for each observation
    cooks = influence.cooks_distance
    print("100 highest Cook's D values:")
    print(pd.Series(cooks[0]).sort_values(ascending=False).head(100).to_numpy())
    
    rows = []
    for i in range(len(cooks[0])):
        if cooks[0][i] <= threshold:
            rows.append(i)
    return x.iloc[rows].drop(columns=['const']), y.iloc[rows]

In [39]:
COOKS_D_THRESHOLD = 1
x_cook, y_cook = cal_cooks_distance(train_data[chosen_features], train_data['NO2'], COOKS_D_THRESHOLD)

print(f"Remaining rows: {len(x_cook)}")

100 highest Cook's D values:
[0.01632355 0.01627218 0.01417551 0.01141255 0.01036867 0.0079987
 0.00766866 0.0066864  0.00667309 0.0066444  0.00650692 0.00602853
 0.0059196  0.0058087  0.00574895 0.0056521  0.00562603 0.00555051
 0.00552426 0.00535248 0.00526073 0.00518622 0.0050921  0.00494957
 0.00475166 0.00474435 0.00474189 0.00468596 0.00459934 0.00453351
 0.00452169 0.00450175 0.00449363 0.00446982 0.00440244 0.00437552
 0.00434863 0.00425429 0.00417525 0.00405862 0.00394121 0.00387407
 0.00385398 0.00379823 0.00378928 0.00366642 0.00365277 0.00365138
 0.00364322 0.00363339 0.00362985 0.00361932 0.00359528 0.00359453
 0.00356983 0.00354571 0.00352232 0.00350742 0.00344478 0.00341933
 0.00341322 0.00339705 0.00338088 0.00337079 0.0033076  0.00330609
 0.00329659 0.00328891 0.003274   0.00320304 0.00317548 0.0031382
 0.00312961 0.00309857 0.00306771 0.0030503  0.00301916 0.00298446
 0.00297671 0.00295294 0.00293188 0.00288713 0.00281816 0.00279896
 0.00274709 0.00272889 0.00272574 0.00270936 0.00268613 0.00267806
 0.00265762 0.00264672 0.00261658 0.00260634 0.0025712  0.00256579
 0.00254295 0.00253794 0.00253291 0.00253161]
Remaining rows: 4694

In [40]:
#  Train lại, so sánh với các mô hình trước.
model_cook, adjusted_r2 = get_model_and_r2(chosen_features, x_cook, y_cook)
print(f"Before: {chosen_features}, r2: {current_r2}")
print(f"After: {chosen_features}, r2: {adjusted_r2}")
#if adjusted_r2 > current_r2:
if True:
    current_r2 = adjusted_r2
    best_model = model_cook
    
#print(f"Best features: {chosen_features}, r2: {current_r2}")

Before: Index(['Permanent_water_bodies_18000', 'Open_forest_3000',
       'Herbaceous_wetland_12000', 'Herbaceous_wetland_6000',
       'Herbaceous_wetland_15000', 'S5P_NO2_18000', 'pressure_18000',
       'Cultivated_and_managed_vegetation/agriculture_12000'],
      dtype='object'), r2: 0.2933566650580487
After: Index(['Permanent_water_bodies_18000', 'Open_forest_3000',
       'Herbaceous_wetland_12000', 'Herbaceous_wetland_6000',
       'Herbaceous_wetland_15000', 'S5P_NO2_18000', 'pressure_18000',
       'Cultivated_and_managed_vegetation/agriculture_12000'],
      dtype='object'), r2: 0.2933566650580487

# Đánh giá

In [41]:
cross_val_scores = []
kf = KFold(n_splits=5, shuffle=True, random_state=42)
fold_count = 0
for train_index, test_index in kf.split(train_data[chosen_features]):
    fold_count += 1
    X_train = train_data[chosen_features].iloc[train_index]
    X_test  = train_data[chosen_features].iloc[test_index]
    y_train = train_data['NO2'].iloc[train_index]
    y_test  = train_data['NO2'].iloc[test_index]
    model, _ = get_model_and_r2(chosen_features, X_train, y_train)
    y_pred = model.predict(X_test)
    
    r_sq = r2_score(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    mape = mean_absolute_percentage_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    
    cross_val_scores.append([r_sq, rmse, mape, mae])
    print(f'Fold {fold_count}:')
    print(f'\tR2 = {r_sq}, RMSE = {rmse}, MAPE = {mape}, MAE = {mae}')
print(f'Average R2: {np.mean(cross_val_scores, axis=0)[0]}')
print(f'Average Root Mean Squared Error: {np.mean(cross_val_scores, axis=0)[1]}')
print(f'Average Mean Absolute Percentage Error: {np.mean(cross_val_scores, axis=0)[2]}')
print(f'Average Mean Absolute Error: {np.mean(cross_val_scores, axis=0)[3]}')

Fold 1:
	R2 = 0.3390763586077124, RMSE = 12.330574339871907, MAPE = 0.6644424438612979, MAE = 9.695645745684427
Fold 2:
	R2 = 0.2578722436636201, RMSE = 13.189445204177993, MAPE = 0.584110633409871, MAE = 10.085835431464435
Fold 3:
	R2 = 0.2681733667947215, RMSE = 12.51143801378885, MAPE = 0.5313686231242678, MAE = 9.443813640836813
Fold 4:
	R2 = 0.2805696032007253, RMSE = 13.266999477843092, MAPE = 0.5222652796699531, MAE = 9.982717150935175
Fold 5:
	R2 = 0.3111858977624798, RMSE = 12.42975743320462, MAPE = 0.546013136455534, MAE = 9.575881331118856
Average R2: 0.29137549400585183
Average Root Mean Squared Error: 12.745642893777292
Average Mean Absolute Percentage Error: 0.5696400233041847
Average Mean Absolute Error: 9.756778660007942

# Lưu lại mô hình

In [42]:
model_info = {}
model_info['features'] = features
model_info['chosen_features'] = chosen_features
model_info['scaler'] = scaler
model_info['model'] = best_model

pickle.dump(model_info, open('models/linear_regression.pkl', 'wb'))

# Test

In [43]:
from osgeo import gdal
from osgeo import osr
from osgeo.gdalconst import *
import matplotlib.pyplot as plt

In [44]:
# Function to read the original file's projection:
def GetGeoInfo(FileName):
    SourceDS = gdal.Open(FileName, GA_ReadOnly)
    NDV = SourceDS.GetRasterBand(1).GetNoDataValue()
    xsize = SourceDS.RasterXSize
    ysize = SourceDS.RasterYSize
    GeoT = SourceDS.GetGeoTransform()
    Projection = osr.SpatialReference()
    Projection.ImportFromWkt(SourceDS.GetProjectionRef())
    DataType = SourceDS.GetRasterBand(1).DataType
    DataType = gdal.GetDataTypeName(DataType)
    return NDV, xsize, ysize, GeoT, Projection, DataType

In [45]:
def ReadGeoTiff(FilePath):
    dataset = gdal.Open(FilePath, GA_ReadOnly)
    # Get the first (and only) band.
    band = dataset.GetRasterBand(1)
    # Open as an array.
    return band.ReadAsArray()

In [46]:
# Function to write a new file.
def CreateGeoTiff(NewFilePath, Array, driver, NDV, 
                  xsize, ysize, GeoT, Projection, DataType):
    if DataType == 'Float32':
        DataType = gdal.GDT_Float32
    elif DataType == 'Float64':
        DataType = gdal.GDT_Float64
    elif DataType == 'Byte':
        DataType = gdal.GDT_Byte
    # Set nans to the original No Data Value
    if NDV is None:
        NDV = np.nan
    Array[np.isnan(Array)] = NDV
    # Set up the dataset
    DataSet = driver.Create( NewFilePath, xsize, ysize, 1, DataType )
            # the '1' is for band 1.
    DataSet.SetGeoTransform(GeoT)
    DataSet.SetProjection( Projection.ExportToWkt() )
    # Write the array
    DataSet.GetRasterBand(1).WriteArray( Array )
    DataSet.GetRasterBand(1).SetNoDataValue(NDV)
    return NewFilePath

In [47]:
def test_date(date):
    templateFilePath = r'data/template.tif'
    array = ReadGeoTiff(templateFilePath)
    
    array = np.full(array.shape, np.nan)
    test_data = pd.read_csv(f'data/test/map{date.year}{date.month:02}{date.day:02}.csv')
    
    test_locations = test_data[['lat', 'lon']].to_numpy()
    test_data[features] = scaler.fit_transform(test_data[features])
    no2 = best_model.predict(test_data[chosen_features])
    for i in range(len(no2)):
        lat, lon = test_locations[i]
        x, y = round(lat_to_x(lat)), round(lon_to_y(lon))
        # Crop image
        minx = 82
        maxx = 700
        miny = 35
        maxy = 388
        if minx <= x <= maxx and miny <= y <= maxy:
            #array[x][y] = no2[i]
            array[x][y] = max(no2[i], 0)
    
    NDV, xsize, ysize, GeoT, Projection, DataType = GetGeoInfo(templateFilePath)
    # Set up the GTiff driver
    driver = gdal.GetDriverByName('GTiff')
    outputFile = CreateGeoTiff(f'output/NO2_{date.year}{date.month:02}{date.day:02}_clipped.tif',
                               array, driver, NDV, xsize, ysize, GeoT, Projection, DataType)
    return array

In [48]:
# Thử test ngày 16/2/2019 và xuất kết quả
output1 = test_date(datetime.datetime(2019, 2, 16))

In [49]:
# Thử test ngày 18/4/2019 và xuất kết quả
output2 = test_date(datetime.datetime(2019, 4, 18))

In [50]:
# Thử test ngày 15/11/2019 và xuất kết quả
output3 = test_date(datetime.datetime(2019, 11, 15))